<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 style="color: blueviolet;">This is a home page</h1>
    <h4> Welcome i guess</h4>
    <a href="/employee">select * from employee</a> <br>
    <a href="/department">select * from department</a> <br>
    <a href="/dependent">select * from dependent</a> <br>
    <a href="/works_on">select * from works_on</a> <br>
    <a href="/dlocation">select * from dloaction</a> <br>
    <a href="/project">select * from project</a> <br>
    <a href="/query1">query 1</a> <br>
    <a href="/query2">query 2</a> <br>
    <a href="/query3">query 3</a> <br>
    <a href="/query4">query 4</a> <br>
    <a href="/query5">query 5</a> <br>

</body>
</html>