<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query4</title>
</head>
<body>
    <form method='get' action="/query4submit">
       
           <h4>enter name</h4>
           
                <input type="text" id="name" name="name" />
      
          <button>Submit</button>
    </form>
</table>
</body>
</html>