<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query1</title>
</head>
<body>
    <table style="border: 2px solid">
 <% data.forEach(function(item, index){ %>
    <tr>
        <td style="border: 2px solid; padding: 2px;"><%= item.Fname %></td>  
        <td style="border: 2px solid; padding: 2px;"><%= item.old_sal %></td>  
        <td style="border: 2px solid; padding: 2px;"><%= item.new_sal %></td>  
    </tr>
    <% }); %>
</table>
</body>
</html>