<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query4</title>
</head>
<body>
    <form method='get' action="/query4submit">
       
        <h4>select dnumber</h4>
        <select name="dno" id="dno">
            <% data.forEach(function(item, index){ %>
                   <option value="<%= item.dno %>"><%= item.dno %></option>
                <% }); %>
    </select>
        <input type="submit"/>
   

 </form>
</body>
</html>