<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query1</title>
</head>
<body>
    <form method='get' action="/query1submit">
       
        <h4>select lname</h4>
        <select name="lname" id="lname">
            <% data.forEach(function(item, index){ %>
                   <option value="<%= item.lname %>"><%= item.lname %></option>
                <% }); %>
    </select>
        <input type="submit"/>
   

 </form>
</body>
</html>