<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query5</title>
</head>
<body>
    <form method='get' action="/query5submit">
       
        <h4>enter the range</h4>
        <input type="text" name="range" id="range" />
        <button>submit</button>

 </form>
</body>
</html>